# DJANGO
DEBUG=1
SECRET_KEY=secret_key
ALLOWED_HOSTS=localhost
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@admin.admin
DJANGO_SUPERUSER_PASSWORD=paswd


# PostgreSQL
POSTGRES_DB=twoja_nazwa_db
POSTGRES_USER=admin
POSTGRES_PASSWORD=pswd
nazwa_hosta_z_dbPOSTGRES_HOST=n
POSTGRES_PORT=5432

# Ścieżki (Opcjonalnie)
STATIC_ROOT=/app/static
MEDIA_ROOT=/app/media

